<!DOCTYPE html>
<html lang=en>
	<head>
		<title>Reset Password</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,500italic' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/stylesheets/new-password.css" rel="stylesheet">
	</head>
	<body>
    <% if(success) { %>
	  <div class="create-new-password-bg">

        <div id="success-msg" style='display: none; text-align: center;'>
          
          <h1>Successfully Reset password!</h1>
          You can now use the new password to Login
        </div>
        <div id="error-msg" style='display: none; text-align: center;'>
          <h1>Failed to Change password</h1>
          Reason: <span id='error-reason'></span>
        </div>
        <form name="changepass-form" id="changepass-form">
          <h1>Change Password Form</h1>
          <div class="alert alert-danger" id="alert" style="display: none;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <p>Passwords Must Match!</p>
          </div>
          <div class="alert alert-danger" id="alert-regex" style="display: none;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <p>Passwords must be at least 8 characters\nand have at least one uppercase letter,\none lowercase letter, and one number.</p>
          </div>
           <input type="password" name="newpass" id="newpass" placeholder="Enter New Password" />
           <input type="password" name="newpass-verify" id="newpass-verify" placeholder="Confirm New Password" />
           <input type="text" name="id" id="id" style="display: none;" value="<%= id %>" />
           <input type="text" name="JWT" id="JWT" style="display: none;" value="<%= JWT %>" />
           <input type="submit" name="submit" id="submit" value="Submit" />
        </form>

	  </div>
    <% } else { %>
      <p>failure</p>
    <% } %>
<script>
  $(document).ready(function () {
    $("#changepass-form").submit(function (e) {
      e.preventDefault();
      var regex = new RegExp('^(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s)[0-9a-zA-Z?!@#$%^&*()]*$');
      if ($("#newpass").val() != $("#newpass-verify").val()) {
        $("#alert").slideDown();
        $("#newpass").focus();
        return false;
      }
      if(!regex.test($("#newpass").val())){
        $("#alert-regex").slideDown();
        $("#newpass").focus();
        return false;
      }
      $.ajax({
        headers: {"authorization": $("#id").val()},
        method: "POST",
        type: "POST",
        url: "/users/forgotpassword/reset/" + $("#JWT").val(),
        data: {
          password: $("#newpass").val()
        },
        success: function (resp) {
          console.log(resp);
          if (resp.error) {
            $("#changepass-form").hide();
            $("#error-reason").html(resp.message);
            $("#error-msg").show();
          }  else {
            $("#changepass-form").hide();
            $("#success-msg").show();
          }
        }
      })
    })
  })
</script>
<!--
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Workout Planner Password Reset</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        body {
          flex:1;
          background-color: #5ad4fd;
        }
        .container {
          margin-top: auto;
          margin-bottom: auto;
          height: 80%;
          flex: 1;
        }
        .focus {
            background-color: #ff9c62;
            border-radius: 10rem;
            margin-top: 10px;
            text-align: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .message {
          background-color: white;
          border: 1px solid white;
          border-radius: 5rem;
          flex: 1;
          text-align: center;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .form{
          padding-top: 10%;
          padding-bottom: 10%;
          
        }
        .form-container{
          display: inline-block;
          flex-direction: row;
          flex-flow: row;
          width:50%;
          border: 1px solid black;
        }
        .left {
          border: 1px solid black;
          width:45%;
          float: center;
        }
        .right {
          border: 1px solid black;
          width:50%;
          float:center;
        }
    </style>
</head>
<script>  
  function matchPassword() {  
    var pw1 = document.getElementById("pswd1").value;  
    var pw2 = document.getElementById("pswd2").value;  
    if(pw1 != pw2)  
    {   
      alert("Passwords did not match");  
    } else {  
      alert("Password created successfully");  
    }  
  }  
  </script>  
<body>
  <div class="container">
    <div class="focus">
        <h1><%= title %></h1>
    </div>
    <div class="message">
      <% if (success) {%>
        <form class="form">
          <div class="form-container">
          <div class="left">
            <td> Enter Password </td> <br><br>
            <td> Confirm Password </td> <br><br>
            <button type = "submit" onclick="matchPassword()">Submit</button> 
          </div>
          <div class="right">
            <input type = "password" name = "pswd1"> <br><br>  
             
            <input type = "password" name = "pswd2"> <br><br>
            <button type = "reset" value = "Reset" >Clear</button>  
          </div>
          </div>  
          </form>
        <%} else {%>
          <p class="lead"><%= message %></p>
        <%}%>
    </div>
</div>
</body>
</html>
-->
