<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Workout Planner Email Verification</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        body {
          background-color: #5ad4fd;
          flex:1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin-top: 10%;
        }
        .container {
          display:flex;
          flex-direction:column;
          align-items: center;
          justify-content: center;
        }
        .focus {
          display:block;
          background-color: #ff9c62;
          border-radius: 10rem;
          margin-top: auto;
          margin-bottom: auto;
          text-align: center;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          align-self: center;
          width: 90%;
        }
        .message {
          display: block;
          width: 90%;
          background-color: white;
          border: 1px solid white;
          border-radius: 5rem;
          text-align: center;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          margin-top: 10%;
        }
        .lead{
          padding-top: 10%;
          padding-bottom: 10%;
          margin-left: auto;
          margin-right: auto;
          width: 95%;
        }
    </style>
</head>
<body>
  <div class="container">
    <div class="focus">
        <h1><%= title %></h1>
    </div>
    <div class="message">
      <p class="lead"><%= message %></p>
    </div>
  </div>
</body>
</html>